#geomapContainer{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  width: 80%;
  height: 800px;
  background-color: #2b506e;
  margin: 20px;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
}

/* Geomap Header CSS */
#geomapHeader{
  margin: 0;
}
#geomapHeading{
  color: #dfecec;
  margin-bottom: 0;
}
#geomapSubHeading{
  color: #dfecec;
  font-weight: lighter;
  margin-top: 0.8rem;
}
.geomapToggleButtonsContainer {
  clear: both;
  display: inline-block;
}
.geomapToggleButton {
  display:none;
}
.geomapToggleButtonLabel{
  float: left;
  padding: .5em 1em;
  cursor: pointer;
  border: 1px solid #2b506e;
  background-color: #91b6d4;
  color: #fff;
  min-width: 30px;
  margin-right: -1px;
}
.geomapToggleButtonLabel:hover{
  opacity: 0.8;
}
.geomapToggleButtonLabel.selected {
  color: #fff;
  background-color: #3277b3;
}
.geomapToggleButtonLabel:first-of-type {
  border-radius: .4em 0 0 .4em;
}

.geomapToggleButtonLabel:last-of-type {
  border-radius: 0 .4em .4em 0;
}


/* Geomap Body CSS */
.land{
  fill: #f1f2f4;
  opacity: 0.8;
  stroke: #2b506e;
  stroke-width: 0.3;
}

.land.visited{
  fill: #2db92d;
}

.visited:hover{
  opacity: 1;
  stroke-width: 1;
  cursor: pointer;
}

.geomapStatesBorder {
  fill: none;
  stroke: #f1f2f4;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

.geomapStates{
  transform: scale(0.9) translate(25%, 0%);
}


/* Geomap Tooltip CSS */
.geomapText{
  display:block;
  background-color: #f1f2f4;
  color: #2b506e;
  font-weight: bold;
  padding: 0px 4px 0px 4px;
  width: 100%;
  border-radius: 4px 4px 0px 0px;
}
.geomapImage{
  position: absolute;
  width: 350px;
  height: auto;
  border-radius: 0px 4px 4px 4px;
}

@media (max-width: 500px) {
  #geomapContainer{
    width: 100%;
    margin: 0;
    padding: 10px 0px;
  }
  .geomapImage{
    width: 250px;
  }
  .geomap{
    height: auto;
  }
  .geomapWorld{
    transform: translate(10%,-10%) scale(0.85);
  }
  .geomapStates{
    transform: translate(5%,5%) scale(0.36);
  }
  .d3-tip{
    position: fixed !important;
    top: 65% !important;
    left: 20% !important;
  }
}

@media (max-width: 1050px) {
  #geomapContainer{
    width: 100%;
    margin: 0;
    padding: 10px 0px;
  }
  .geomapImage{
    width: 350px;
  }
  .geomap{
    height: auto;
  }
  .geomapWorld{
    transform: translate(10%,0%) scale(0.85);
  }
  .geomapStates{
    transform: translate(10%,5%) scale(0.7);
  }

}
